.portoflioDivs {
  animation: fadeInAll 1s ease-in 1s forwards; /* Agrega un retraso de 5 segundos para toda la animación */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  max-width: 87%;
  box-sizing: border-box;
  margin-top: 1rem;
}

.portoflioDivs h1 {
  font-size: 53px;
  font-family: 'Coolvetica';
  color: #ffd700;
  font-weight: 400;
  text-align: center;
  white-space: nowrap; /* Evita el salto de línea entre letras */
  animation: typing 2s linear forwards;
  opacity: 0;
  margin-left: 1rem;
  white-space: nowrap; /* Evita el salto de línea entre letras */
  animation-delay: 3.5s;
  opacity: 0;
  letter-spacing: 0.4rem;
  transform: translateY(-100%); /* Comienza fuera de la vista arriba */

  @keyframes typing {
    0% {
      transform: translateY(-100%); /* Fuera de la vista arriba */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Desplaza hacia abajo a su posición final */
      opacity: 1;
    }
  }
}

.portfolio-section-cnt {
  display: flex;
  width: 100%;
}
.portfolio-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.portfolio-img {
  width: 100%; /* Cambia a porcentaje */
  height: 100%; /* Usa "auto" para mantener la proporción de aspecto */

  object-fit: cover;
  object-position: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones */
  transform: translateY(300%); /* Comienza fuera de la vista abajo */
  animation: pic 2s linear forwards;
  animation-delay: 3.5s;
}
.portoflioDivs.loaded .portfolio-img {
  transform: translateY(
    0
  ); /* Desplaza hacia arriba a su posición final cuando la clase "loaded" esté presente en el contenedor principal */
}
@keyframes pic {
  0% {
    transform: translateY(250%); /* Fuera de la vista arriba */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Desplaza hacia abajo a su posición final */
    opacity: 1;
  }
}
// .portfolio-img:hover {
//   background-color: #ffcc00; /* Cambia el color de fondo en hover */
//   box-shadow: 0px 0px 10px 2px rgba(255, 204, 0, 0.5); /* Color de sombra más suave */
//   cursor: pointer;
// }






@media (max-width: 1300px) {
  .portoflioDivs h1 {
    font-size: 33px;
  }

  .portfolio-section-cnt {
    flex-direction: column;
    justify-content: space-around;
    text-align: right;

    margin-left: 8%;
  }
  }.portfolio-img-div {
    position: relative;
    height: 300px;

    &:hover .project-description.loaded {
        opacity: 1;
        box-shadow: 0px 0px 10px 2px rgba(255, 204, 0, 0.5); /* Color de sombra más suave */
        cursor: pointer;
    }

    .project-description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background: rgba(0, 0, 0, 0.7); // Fondo oscuro con transparencia
      color: #fff; // Texto blanco
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }

  .project-description p {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: 0.1rem;
  }
.portfolio-span{
  display: block;
  color: #ffd701;
  margin-top:1rem;

}

  .portfolio-img {
    width: 100%;
    height: 90%;
    transform: translateY(300%); /* Comienza fuera de la vista abajo */
  }
  .portfolio-second {

    margin-top: -2rem;
  }
}


@media (max-width: 400px){
  
  .portfolio-img-div {
    width: 90%;
    margin: 1rem 0;
    height: 70%;}


    .portfolio-img {

      transform: translateY(400%); /* Comienza fuera de la vista abajo */
     
    }
}

@media (max-width: 600px){
  
  .portfolio-img-div {
    width: 90%;
    margin: 1rem 0;
    height: 70%;}


    .portfolio-img {

      transform: translateY(400%); /* Comienza fuera de la vista abajo */
     
    }
}




// .portoflioDivs{

//   animation: fadeInAll 1s ease-in 3s forwards; /* Agrega un retraso de 5 segundos para toda la animación */
//   position: absolute;
//   left:40%;
//   top:10%;
//   width: 100%;
//   vertical-align: middle;
//   display: table-cell;
//   max-height: 90%;
//   box-sizing: border-box;
// }

// .portoflioDivs  h1 {

// font-size: 53px;
//     font-family: "Coolvetica";
//     color: #ffd700;
//     font-weight: 400;
//     position: absolute;
//     top: 8rem;
//     letter-spacing: 0.4rem;
//     text-align: left;
//     white-space: nowrap; /* Evita el salto de línea entre letras */
//     overflow: hidden; /* Oculta el exceso de letras */
//     animation: typing 2.5s linear forwards;
//     animation-delay: 3s;
//     opacity: 0;

//     // font-size: 53px;
//     // font-family: "Coolvetica";
//     // color: #ffd700;
//     // font-weight: 400;
//     // margin-top: 10rem;
//     // position: relative;
//     // letter-spacing: 0.4rem;
//     // margin-bottom: 40px;
//     // white-space: nowrap; /* Evita el salto de línea entre letras */
//     // overflow: hidden; /* Oculta el exceso de letras */
//     // animation: typing 2.5s linear forwards;
//     // animation-delay: 3s;
//     // opacity: 0;

//     @keyframes typing {
//         0% {
//           width: 0;
//           opacity: 1;
//         }
//         100% {
//           width: 100%;
//           opacity: 1;
//         }
//     }

//   }

//   .portfolio-section{
//     width: 100%;
//     border: 1px solid green;
//     display: flex;
//     justify-content: center;
//     margin-top: 700px;

//   }

// .portfolio-img-div{
//  width: 50%;
//  height: 300px;
//  margin-top: 500px;
//  border: 1px solid red;
// }

//   }
//   .portfolio-img{
//     width: 50%;
//     height: 50%;
//   }
